
.intro {
    margin-left: 30px;
    margin-top: 30px;
    width: 320px;
}
.profile-photo {
    background-color: white;
    width: 320px;
    height: 280px;
    margin-left: 35px;
    margin-top: 30px;
}
.sidebar {
    background-color: #e8e8eb;
    width: 24%;
    height: 690px;
}
.menubar {
    background-color: #4f59db;
    width: 24.5%;
    height: 80px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
}
.menubar-title {
    font-size: 25px;
    font-weight: 500;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}
.content {
    padding-left: 1%;
    padding-right: 2%;
    width: 70%;
    height: 690px;
    overflow-y: scroll;
}
.content-box {
    width: 900px;
    height: 300px;
}
.main-post-title {
    color: #4f59db;
}
.main-post-content {
    color: #4f59db;
}
.post-box {
    width: 100%;
    height: 300px;
}
.post {
    width: 100%;
    height: 25%;
    border-color: black;
    border-top: 1px solid;
}
.post-title {
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 20px;
}

/* 글작성 페이지 */
.main-post-header{
    color: #4f59db;
    margin-top: 2%;
}
.post-form{
    margin-top:5%;
}
.toastui-editor{
    width:1000px;
}
.form-button{
    width: 1000px;
    display: flex; 
    flex-direction: row-reverse; 
    margin-top: 1%;
}
.form-button button{
    margin-left: 1%;
}